body {
  background-color: #000; 
  color: #fff; 
  margin: 0;
  padding: 0;
  position: relative;
  top: 10vh;
}

.body-light {
  background-color: #fffbf2;
  color: #000000;
}

@media (max-width: 768px) {
.UnderNavbar {
  padding-top: 10%
}
}