body {
  background-color: #636363; /* Grey background color */
  color: #ffffff; /* White text color */
  margin: 0;
  padding: 0;
  position: relative;
  top: 10vh; /* Set the starting point 10% from the top */
}