.button-group {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.editIcon,
.checkIcon,
.trashIcon {
    width: 25px;
    height: 25px;

}

.button-default {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin-left: 10px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    @media (max-width: 768px) {
        flex-direction: row;
        margin-top: 10px; /* Stack buttons horizontally on smaller screens */
      }
}

.button-default-light {
    align-items: center;
    background-color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin-left: 10px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    @media (max-width: 768px) {
        flex-direction: row; /* Stack buttons horizontally on smaller screens */
        margin-top: 10px;
      }
}

.button-default:hover,
.button-default:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-default:hover {
    transform: translateY(-1px);
}

.button-default:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

#addItem{
    background-color: rgb(178, 255, 178);
}

#deleteList{
    background-color: rgb(255, 151, 151);
}

#deleteList-light{
    background-color: rgb(155, 0, 0);
}

.btn-square {
    width: 50px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;    
    text-align: center;
    padding: 0px;
    font-size:24px;
    }

    .inputbox {
        font-size:24px;
    }

    .return {
        text-align: left;
    }

    @media (max-width: 768px) {
        .button-group, .table-light .button-group {
        flex-direction: column;
        margin: 20px;
      }
      .button-default, .table-light .button-default {
        margin-top: 10px; 
      }
      .table-light th, .table-light td, th, td {
        font-size: 14px; /* Smaller font size for mobile */
        overflow: hidden; /* Allow overflow */
        white-space: normal; /* Allow text wrapping */
        text-overflow: clip; /* Remove ellipsis */
      }
    }
