.unauthorized {
    text-align: center;
    margin-top: 10%;
    font-size: 5vh;
    color: #fff;
  }

  .unauthorized-light {
    text-align: center;
    margin-top: 10%;
    font-size: 5vh;
    color: #000000;
  }