.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

table {
  margin-top: auto;
  background-color: #000000; 
  border-collapse: collapse;
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; 
}

.table-light {
  margin-top: auto;
  background-color: #dfd8d8; 
  border-collapse: collapse;  
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; 
}

.table-viewer {
  margin: auto;
  background-color: #000000; 
  border-collapse: collapse;
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; 
  width: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid #ffffff;
}

.table-viewer-light {
  margin: auto;
  background-color: #ffffff; 
  border-collapse: collapse;
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; 
  width: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid #000000;
}


thead {
  display: block;
  background-color: #242424; 
  color: white;
}

.table-light thead {
  background-color: #242424; 
  color: black;
}

tbody {
  display: block;
  overflow-y: auto;
  max-height: calc(100vh - 50px);
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-light th,
.table-light td {
  border-bottom: 1px solid #000000; 
  background-color: #FFFFFF;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd; 
  font-size: 32px;
  overflow: hidden;
  transition: font-size 0.2s ease-in-out;
}


.expand-cell {
  padding: 10px;
  text-align: right;
}

.expand-button {
  background: #007bff; 
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 48px;
  padding: 10px;
  text-align: center;
  width: 100%;
  transition: 0.1s ease-in-out
}

.expand-button:hover { 
  background: #0051a8;
}


.expand-button:focus {
  outline: none;
}

.expand-button::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid white;
  margin-top: 5px;
  margin-right: 5px;
}

.expand-button.expanded::before {
  border-right: none;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}


.checkbox {
  width: 50px;
  height: 50px;
}

.filter-dropdown-wrapper {
  float: right;
  margin: 10px;
}

.table-header-button {
  height: 50px;
  width: 150px;
  font-size: 25px;
  float: right;
  margin: 10px;
  background-color: #ff0000; 
  color: white;
  border: none;
  border-radius: 4px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word; 
}

.table-header-savechanges-button {
  height: 50px;
  width: 220px;
  font-size: 25px;
  float: left;
  margin: 10px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 4px;
  white-space: normal;
  word-wrap: break-word; 
  overflow-wrap: break-word;
}


.table-header-dropdown {
  height: 50px;
  width: 150px;
  font-size: 25px;
  border-radius: 4px;
}

.table-header-text-light{
  color:black;
  font-size: 5.5vh;
  margin-bottom: 1px;
  margin-top: 15px;
  
}

.table-header-text{
  color:rgb(255, 255, 255);
  font-size: 5.5vh;
  margin-bottom: 1px;
  margin-top: 15px;
}

.table-header{
  margin-top: 1%;
  height: auto;
  background-color: #05001a; 
}

.table-header-light{
  margin-top: 1%;
  height: auto;
  background-color: #cccccc; 
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.tableName {
  flex: 1;
  text-align: center;
  font-size: 32px;
  color: white; 
}

.everything-checked{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.everything-checked-button{
  height: 60px auto ;
  padding: 10px;
  width: 220px;
  font-size: 3vh !important;
  margin: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
}



/* Adjustments for mobile devices */
@media (max-width: 768px) {
  .table-container {
    padding: 5px;
    margin: 0;
}

table,
.table-light {
    margin-top: 5px;
    border-radius: 4px;
}

thead,
.table-light thead {
    background-color: #242424;
}

tbody {
  max-height: calc(100vh - 100px); /* Adjusted for smaller screen */
}

td, th {
  font-size: 2.3vh !important;
}

tr {
  table-layout: fixed;
}

.table-viewer {
border:0;
  width: 100%;

}

.table-viewer-light {
  border: 0; 
  width: 100%;
  
}

.expand-cell {
  padding: 5px;
}
  .expand-button {
      font-size: 18px;
      padding: 5px;
  }

  .checkbox {
      width: 30px;
      height: 30px;
  }

  .filter-dropdown-wrapper {
      margin: 5px;
  }

  .table-header-button,
  .table-header-savechanges-button,
  .table-header-dropdown {
      height: auto;
      width: auto;
      font-size: 2vh;
      padding: 10px;
      margin: 5px;
  }

  .header-content {
      flex-direction: column;
  }

  .everything-checked-button {
      font-size: 12px;
      padding: 5px;
      margin: 5px;
  }

  .table-header-text-light{

    font-size: 4vh;

  }
  
  .table-header-text{

    font-size: 4vh;
  }
}